@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype-variations");
}
@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 100 1000;
}



body{ margin: 0; }

.site-header .logo{
  z-index: 1;
  margin-right: 84px;

  float: left;
}

.nav-open-img{
  display: none;
  float: right;
}

.nav{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  background-color: white;

  overflow: hidden;
}

.nav a{
  margin-right: 35px;
  margin-top: 51px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.nav-open-img {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 768px) {
  .site-header .logo{
    margin-left: 80px;
    width: 128px;
  }
  .site-header .nav-open-img{margin-right: 80px;}

  .nav.responsive {position: relative;}
  .nav.responsive .nav-open-img {
    position: absolute;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;

    text-align: left;
  }
  .nav {
    display:block;
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 768px) {
  .site-header .logo{
    width: 78px;
  }
}

.nav a:before{
  display: block;
  
  height: 0;

  font-variation-settings: "wght" 650;
  
  visibility: hidden;
  content: attr(title);
  overflow: hidden;
}

.nav a:link{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 550;
  font-size: 18px;
  line-height: 22px;
  color: #060606;

  text-decoration: none;
}
.nav a:visited{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 550;
  font-size: 18px;
  line-height: 22px;
  color: #060606;

  text-decoration: none;
}
.nav a:hover{
  font-family: 'Montserrat';
  font-style: bold;
  font-variation-settings: "wght" 650;
  font-size: 18px;
  line-height: 22px;
  color: #060606;

  text-decoration: underline;
  text-decoration-color: #ffa800;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.video-container{
 z-index: -1;

 display: flex;
 justify-content: center;
}

.video{
 z-index: -2;
 margin-top: -50px;

 max-width: 100%;
}

.ripped{
  position: absolute;
  max-width: 100%;
  margin-top: -10px;
  z-index: 0;
  
  filter: drop-shadow(0rem .25rem .15rem rgba(0, 0, 0, .25));
}

.galery{
  display: flex;
  justify-content: center;
}

.galery img{
  display: block;
  
  max-width: 100%;
}

.galery .row{
  display: flex;
}


@media screen and (max-width: 320px) {
  .galery .row{ flex-wrap: wrap; }
  .galery .column {
    flex: 50%;
    max-width: 50%;
  }
  .galery .col-4{ max-width: 50%;}
}

.galery .column{ margin-top: 18px; }

.ripped-galery-top{ position: absolute; }

.ripped-galery-bot{
  position: absolute;
  margin-top: 345px;
  z-index: 0;
}

.play-btn-img{
  position: absolute;
  margin-top: 255px;
}

.text-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 415px;
}

.text-container p{
  width: 655px;

  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 22px;
  color: #2f4858;
  text-align: center;
}

.conntact{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1246px;
}

.conntact button{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;

  background-color: #ffa800;
  border: none;
  border-radius:50px;
  padding: 15px 59px;
}

.conntact button:hover{ background: #ffda16; }

.conntact button:active{ background: #ff8a00; }

.conntact h1{
  margin-bottom: 55px;

  font-family: 'Oswald';
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 30px;
  line-height: 44px;
  color: #2f4858;
  text-align: center;
}
.conntact h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 100;
  font-size: 14px;
  line-height: 17px;
}

.conntact-form{
  display: flex;
  justify-content: center;
}



.conntact-form-inner{ width: 614px; }

@media screen and (max-width: 768px) {
  .conntact-form-inner { width: 80%;}
}
@media screen and (max-width: 320px) {
  .conntact-form-inner { width: 70%;}
}




.btns-wrap{
  margin-bottom: 150px;

  display: flex;
  justify-content: center;
}
.btns{
  display: inline-block;
  text-align: center;
}

.btn-1{
  margin-right: 190px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .btn-1 {
    margin-right: 71px;
  }
  .btn-2 {
    margin-left: 71px;
  }
}


.btn-lable{
  margin-bottom: 40px;

  display: block;

  font-family: 'Oswald';
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2f4858;
}

.input-left{
  margin-bottom: 15px;

   float: left;
   width: 45%;
}

.input-right{
   margin-bottom: 15px;

   float: right;
  width: 45%;
}

.input-wide{
  margin-bottom: 15px;

  width: 97%;
}

  
@media screen and (max-width: 720px) {
  .conntact-form { 
    margin-right: 0px;
  }
  .input-left{
    width: 95%;
  }
  .input-right{
    width: 96%;
  }
  .input-wide{
    width: 95%;
  }

  .btn-1 {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 80px;
  }
  .btn-2 {
    margin-left: 0;
    margin-left: 0;
    margin-bottom: -60px;
  }

  .btns-wrap{
    display: grid;
    justify-content: center;
    
  }
  .btn-1 .btn-lable{
    margin-top: 120px;
    margin-bottom: 20px;

    font-size: 18px;
  }
  .btn-2 .btn-lable{
    margin-bottom: 20px;

    font-size: 18px;
  }
  .btns-wrap-send {margin-bottom: 120px;}
}


  .conntact input,textarea{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 22px;
  color: #2f4858;

  background-color: #e7e7e7;
  border: none;
  border-radius: 6px;
  padding: 10px;
  }

  .conntact input::placeholder,textarea::placeholder{ color: #2f4858; }

  .conntact textarea{
    margin: 0px;

    height: 212px;
  
    resize: none;
  }

  .terms{
  margin-left: 40px;

  display: block;

  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 17px;
}

 

.terms-container{
  margin-top: 30px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #e7e7e7;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark { background-color: #ccc; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  position: absolute;
  display: none;

  content: "";
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after { display: block; }

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid  #ffa800;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-send button{
  margin-top: 55px;

  font-size: 24px;
  line-height: 29px;

  padding: 16px 63px;
}

.btns-wrap-send{
  display: flex;
  justify-content: center;
}

.sponsors{
 
  height: 480px;
  display: flex;
  justify-content: center;

  background-color: #ffcb66;;
}

.sponsors .row{
  display: flex;
  flex-wrap: flex;

  column-gap: 80px;
}

.sponsors .column{ margin-top: 18px; }

.sponsors h1{
  margin-top:100px;
  margin-bottom: 70px;

  font-family: 'Oswald';
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 24px;
  line-height: 36px;
  
  color: #2f4858;

  text-align: center;
}

@media screen and (max-width: 768px) {
    .sponsors h1{ 
      margin-bottom: 5px;
      margin-top: 65px;
    }
    .sponsors {height: 300px;}
    .sponsors-imgs{ margin-bottom: 10px;}

    .sponsors .row{
      display: grid;
      grid-template-columns: repeat(2, 130px);
      column-gap: 10px;
    }
  }

.sponsors-imgs-container{
  margin-top: 135px;
}

.sponsor-img{
  max-width: 100%;
  width: auto;
}

.ripped-sponsors-bottom{
  position: absolute;
  top: 3235px;
  max-width: 100%;
  
}

.ripped-sponsors-top{ 
  position: absolute;
  max-width: 100%;
}

.info {
  display: flex;
  justify-content: center;

  background-color: #2f4858;
}

.info .row{
  margin-top: 10px;

  display: flex;

  column-gap: 110px;
}

.info .row p,a{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;
  text-decoration: none;
}

.info .row .col-2 p{ margin-bottom: -8px; }
.info .row .col-3 p{ margin-bottom: -8px; }

.info .row h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 200;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.info h3{
  margin: 0;

  width: 182px;

  font-family: 'Montserrat';
  font-style: normal;
  font-variation-settings: "wght" 100;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;

  white-space: normal;
}

.site-footer .logo{
  margin-top: 20px;
  margin-bottom: 70px;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  .site-footer .logo img{
    width: 162px;
  }
}
  
@media screen and (max-width: 320px) {
  .site-footer .logo img{
    width: 100px;
  }
  
}

.policy-wrap{
  margin-bottom: 5px;

  overflow: auto;
}

.policy {
  float: right;
  
  text-align: right;
  vertical-align: bottom;
}

.copyright{
  float: left;
  white-space: nowrap;
}

.props{
  display: none;
}

.info .column{
  flex: 35%;
  width: auto;
  white-space: nowrap;
}

@media screen and (max-width: 1280px) {
  .info .col-1, .info .col-2{ display: none; }
   .info .row {
    display:flex; 
    justify-content: center;
    margin-top: 85px;
  }

  .info .row p{ margin-bottom: 15px;}

  .name{
    display: none;
  }
  .site-footer .logo{
    margin-top: -40px;
  }

  .props{
    display: block;
    margin-top: 15px;
  }
  .icons img{
    max-width: 25px;
    max-height: 25px;
  }
}



.info .row .col-3{
  flex: 35%;
  width: auto;
  white-space: nowrap;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .info .col-1, .info .col-2{
     display: none;
   }
   .policy{ display: none;}
 
   .info .row {display: grid;}
   
   .info .row .col-3{
     text-align: left;
   }
 }

.column-right h3{
  margin: 0 auto;
}

.info .icons img{
  margin-top: 60px;
  margin-bottom: 45px;
  margin-left: 25px;
}
